{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{% include "inc/question.html"%}

<h2 class="mt-5">Answers</h2>
{% for answer in page.object_list %}
    {% include "inc/answer.html"%}
{% endfor %}

{% include "inc/paginator.html" %}

<h2 class="mt-5">Create your answer</h2>
<form action="/asker.com/ask/" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}